.table-container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    min-width: 300px;
}
  
.mat-table {
    padding: 0 5em;
    overflow: auto;
    max-height: 500px;
}

mat-paginator {
    margin: 0 auto;
}

button[mat-fab] {
    position: fixed;
    bottom: 23px;
    left: 23px;
}