<mat-accordion class="mat-table">
  <section matSort class="mat-elevation-z2 mat-header-row">
    <span class="mat-header-cell" arrowPosition="before" [mat-sort-header]="columnDefs[0]">{{displayedColumns[0]}}</span>
    <span class="mat-header-cell" arrowPosition="before" [mat-sort-header]="columnDefs[1]">{{displayedColumns[1]}}</span>
    <span class="mat-header-cell" arrowPosition="before" [mat-sort-header]="columnDefs[2]">{{displayedColumns[2]}}</span>
    <span class="mat-header-cell" arrowPosition="before" [mat-sort-header]="columnDefs[3]">{{displayedColumns[3]}}</span>
    <span class="mat-header-cell" arrowPosition="before" [mat-sort-header]="columnDefs[4]">{{displayedColumns[4]}}</span>
  </section>

  <mat-expansion-panel *ngFor="let ride of userService.dataSource.data" (opened)="getRideDetails(ride)">
    <mat-expansion-panel-header class="mat-row">
      <span class="mat-cell">{{ride.driver.firstname + ' ' + ride.driver.lastname}}</span>
      <span class="mat-cell">{{ride.from}}</span>
      <span class="mat-cell">{{ride.to}}</span>
      <span class="mat-cell">{{ride.departureDate | date:'HH:mm ,dd/MM/y'}}</span>
      <span class="mat-cell">{{ride.maxRiders - ride.riders.length}}</span>
    </mat-expansion-panel-header>
    <div class="ride-details" *ngIf="userService.currentRide">
      <form (ngSubmit)="addRide(f)" #f="ngForm">
          <div class="form-container">
            <mat-form-field class="ride-input">
                <input matInput
                [ngModel]="userService.currentRide.driver.firstname + ' ' + userService.currentRide.driver.lastname"
                required name="driver" type="input" placeholder="נהג" disabled>
            </mat-form-field>

            <mat-form-field class="ride-input">
                <input matInput [ngModel]="userService.currentRide.from" required name="from" maxlength="20" type="input" placeholder="מקור" disabled>
            </mat-form-field>

            <mat-form-field class="ride-input">
                <input matInput [ngModel]="userService.currentRide.to" required name="to" maxlength="20" type="input" placeholder="יעד" disabled>
            </mat-form-field>

            <mat-form-field class="ride-input">
                <input matInput [ngModel]="userService.currentRide.maxRiders" required name="maxRiders" pattern="^[1-5]$" type="number" placeholder="מספר מושבים" disabled>
            </mat-form-field>

            <md2-datepicker
            type="datetime"
            format="H:mm ,d/M/y"
            placeholder="זמן יציאה"
            timeInterval="5"
            mode="portrait"
            startView="clock"
            [openOnFocus]="true"
            [ngModel]="userService.currentRide.departureDate"
            required
            name="departureDate"
            class="ride-input"
            disabled>
            </md2-datepicker>
            <button class="date-reset" *ngIf="userService.currentRide.departureDate && editRideMode"
            (click)="userService.currentRide.departureDate = null" mat-icon-button>
                <img style="width: 16px; height: 16px;" src="../../../assets/ic_clear_black_24px.svg">
            </button>
        </div>
        <mat-button-toggle *ngIf="canEditRide(userService.currentRide.driver._id)" (click)="editRide(f)">ערוך נסיעה</mat-button-toggle>
        <button mat-raised-button color="primary" class="submit-button" mat-dialog-actions [disabled]="!canSubmitRide(f)" type="submit">שלח</button>
      </form>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<mat-paginator #paginator
  [pageIndex]="0"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 20]">
</mat-paginator>
