.search-inputs {
    display: flex;
}

button.date-reset {
    margin-top: 2em;
}

md2-datepicker, mat-form-field {
    margin-top: 1em;
    margin-right: 25%;
    text-align: right;
}

.search-field {
    min-width: 150px;
}

button[mat-fab] {
    position: fixed;
    bottom: 23px;
    left: 23px;
}