.table-container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    min-width: 300px;
}
  
.mat-table {
    padding: 0 5em;
    overflow: auto;
    max-height: 550px;
}

mat-cell.mat-cell.cdk-column-join.mat-column-join, mat-header-cell.mat-header-cell.cdk-column-join.mat-column-join {
    max-width: 5em;
}