<div class="table-container mat-elevation-z8">
  <mat-table 
    #table 
    [dataSource]="rideService.dataSource"
    matSort>

    <!-- Driver Column -->
    <ng-container matColumnDef="{{ columnDefs[0] }}">
      <mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">{{ displayedColumns[0] }}</mat-header-cell>
      <mat-cell *matCellDef="let ride">{{ ride.driver.firstname + ' ' + ride.driver.lastname }}</mat-cell>
    </ng-container>

    <!-- Source Column -->
    <ng-container matColumnDef="{{ columnDefs[1] }}">
      <mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">{{ displayedColumns[1] }}</mat-header-cell>
      <mat-cell *matCellDef="let ride">{{ride.from}}</mat-cell>
    </ng-container>

    <!-- Destination Column -->
    <ng-container matColumnDef="{{ columnDefs[2] }}">
      <mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">{{ displayedColumns[2] }}</mat-header-cell>
      <mat-cell *matCellDef="let ride">{{ride.to}}</mat-cell>
    </ng-container>

    <!-- Departure Column -->
    <ng-container matColumnDef="{{ columnDefs[3] }}">
      <mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">{{ displayedColumns[3] }}</mat-header-cell>
      <mat-cell *matCellDef="let ride">{{ ride.departureDate | date:'HH:mm ,dd/MM/y':'+300' }}</mat-cell>
    </ng-container>

    <!-- Free spots Column -->
    <ng-container matColumnDef="{{ columnDefs[4] }}">
      <mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">{{ displayedColumns[4] }}</mat-header-cell>
      <mat-cell *matCellDef="let ride">{{ ride.maxRiders - ride.riders.length }}</mat-cell>
    </ng-container>

    <!-- Join ride Column -->
    <ng-container matColumnDef="{{ columnDefs[5] }}">
        <mat-header-cell *matHeaderCellDef>{{ displayedColumns[5] }}</mat-header-cell>
        <mat-cell *matCellDef="let ride">
          <button matTooltip="הצטרפות לטרמפ" class="join-ride" *ngIf="canJoinRide(ride)" (click)="joinRide(ride)" mat-icon-button>
              <img src="../../../assets/ic_directions_car_black_24px.svg" style="opacity: 0.6;">
          </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnDefs"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnDefs;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true"
                 >
  </mat-paginator>
</div>