div[mat-dialog-content] {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

div.form-container {
    display: flex;
    justify-content: center;
}

mat-form-field.ride-input {
    margin: 0em 2em;
}

button.date-reset {
    display: block;
}

button.submit-button {
    margin: 2em 1em;
}